<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <servlet>
        <servlet-name>BukmakerServlet</servlet-name>
        <servlet-class>by.tc.epam.controller.BukmakerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BukmakerServlet</servlet-name>
        <url-pattern>/MishaBet</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>SetEncoding</filter-name>
        <filter-class>by.tc.epam.web.filter.SetEncodingFilter</filter-class>
        <init-param>
            <param-name>characterEncoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>SetEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>NotAdmin</filter-name>
        <filter-class>by.tc.epam.web.filter.AdminPagesFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>NotAdmin</filter-name>
        <url-pattern>/jsp/admin_page/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>by.tc.epam.web.event_listener.ConnectionPoolInit</listener-class>
    </listener>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <jsp-config>
        <taglib>
            <taglib-uri>pagination</taglib-uri>
            <taglib-location>/WEB-INF/tld/Pagination.tld</taglib-location>
        </taglib>
    </jsp-config>

</web-app>